@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css"); 
.mybox{
  border:1px solid;
  padding:10px;
  margin:10px;
  list-style:none;
}
.mybox1{
  border:1px solid;
  width:50px;
}